<ul id="countryList"> 
    <% for (let country of countries) { %>
    <li> <a href="/country?code=<%= country.cca3 %>"> <img src="<%= country.flags.png %>"> <%= country.name.common %> </a> </li>
    <% } %>
</ul>