<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <header>
        <h1>Countries</h1>
        <hr>
    </header>
    
    <br>

    <main>

        <%- include('partials/nav.ejs', { countries }) %>

        <br>
        

    </main>

    <%- include('partials/footer.ejs') %>
    
    <!-- <script src="js/script.js"></script> -->
</body>
</html>
